//- =========================================================================================
	File Name: advance-ui-tooltip.pug
	Description: Tooltip
	----------------------------------------------------------------------------------------
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PixInvent
	Author URL: https://pixinvent.com/
	==========================================================================================


extends template

block pageVars
	- var pageTitle = "Tooltip"
	- var pageSubTitle = ""
	- var description = "The standard font Material Design uses is Roboto. We have included the font files with our framework.."
	- var activeParentMenu = "advance-ui"
	- var activeMenu = "advance-ui-tooltip"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {url:"#",name:"Advance UI"}, {name:"Tooltip"}])

//- Include page content in page block
append content
	include ../contents/advance-ui-tooltip.html
	include ../contents/sidebar/right-sidebar.html
	include ../contents/sidebar/fab-menu.html

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs