//- =========================================================================================
	File Name: app-file-manager.pug
	Description: App File-manager
	----------------------------------------------------------------------------------------
	Item Name: Materialize - Material Design Admin Template
	Version: 1.0
	Author: PixInvent
	Author URL: https://pixinvent.com/
	=========================================================================================


extends template

block pageVars
	- var pageTitle = "App File Manager"
	- var pageSubTitle = ""
	- var description = "The standard font Material Design uses is Roboto. We have included the font files with our framework.."
	- var activeParentMenu = "app-file-manager"
	- var activeMenu = "app-file-manager"

append pageConfig
	- var bodyCustom = 'app-page'

append footerConfig
	//- // - var footerType = 'footer-fixed'

append header
	- var contentBreadcrumbs = false
	- var contentHeader = true

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {url:"#",name:"Apps"}, {name:"App File Manager"}])

//- Include page content in page block
append content
	include ../contents/app-file-manager.html
	include ../contents/sidebar/right-sidebar.html

//- Vendor css
//- Add vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/flag-icon/css/flag-icon.min.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src=app_assets_path + '/js/scripts/app-file-manager.js')

//- Page css
//- Add page specific CSS
append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css/pages/app-file-manager.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css/pages/widget-timeline.css')