//- =========================================================================================
	File Name: dashboard-ecommerce.pug
	Description: Sales Dashboard
	----------------------------------------------------------------------------------------
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PixInvent
	Author URL: https://pixinvent.com/
	========================================================================================== 

extends template

block pageVars
	- var pageTitle   = "Dashboard eCommerce"
	- var activeMenu  = "dashboard-ecommerce"
	- var activeParentMenu = "dashboard"

append templateConfig	
	//- - var dataColor = "bg-chartbg"

block page-header

//- Include page content in page block
append content
	include ../contents/dashboard-ecommerce.html
	include ../contents/sidebar/right-sidebar.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src=app_assets_path + '/vendors/chartjs/chart.min.js')

//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/pages/dashboard.css')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	//- Dashboard custom js	
	script(src=app_assets_path + '/js/scripts/dashboard-ecommerce.js')