//- =========================================================================================
	File Name: form-validation.pug
	Description: Form Validation
	----------------------------------------------------------------------------------------
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PixInvent
	Author URL: https://pixinvent.com/
	==========================================================================================


extends template

block pageVars
	- var pageTitle = "Form Validation"
	- var pageSubTitle = ""
	- var description = "The standard font Material Design uses is Roboto. We have included the font files with our framework.."
	- var activeParentMenu = "form"
	- var activeMenu = "form-validation"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {url:"#",name:"Form"}, {name:"Form Validation"}])

//- Include page content in page block
append content
	include ../contents/form-validation.html
	include ../contents/sidebar/right-sidebar.html
	include ../contents/sidebar/fab-menu.html

//- Vendor css
//- Add vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/flag-icon/css/flag-icon.min.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src=app_assets_path + '/vendors/jquery-validation/jquery.validate.min.js')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src=app_assets_path + '/js/scripts/form-validation.js')