//- ===============================================================================================
	File Name: vertical-semi-dark-gradient-menu-template.pug
	Description: Default Material
	----------------------------------------------------------------------------------------------
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PixInvent
	Author URL: https://pixinvent.com/
	================================================================================================ -//

extends ../base

//- Template customization
//------------------------
block templateConfig
	- var templateCustom = "vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu"
	- var dataMenu = "vertical-dark-menu"
	- var dataColor = ""

//- Page level customization
//------------------------
block pageConfig
	- var logoType = 'light'

block navbarConfig
	- var navbarPosition = "navbar-fixed"
	- var navbarColor = "navbar-light"
	- var navbarShadow = false

block verticalMenuConfig
	- var menuType = "sidenav-fixed"
	- var menuColor = "sidenav-dark sidenav-active-rounded"
	- var menuOpenType = "accordion"
	- var menuShadow = true
	- var menuCollapsed = false

block footerConfig
	- var footerType = "footer-static"
	- var footerColor = "footer-light"
	- var footerShadow = true
	- var footerBorder = true

//- Template includes
//-------------------

block header
	- var headerBGColor = "blue-grey lighten-5"
	- var contentHeader = false
	- var contentBreadcrumbs = true

	include sections/header/vertical-menu-header

block main-menu
	include sections/menu/vertical-menu

block page-header
	if blankPage != true
		include ../pages/page-headers/vertical-dark-menu-template-breadcrumbs

block footer
	include sections/footer/collapsible-menu-footer

//- Template specific dependency
//------------------------------

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
block vendorcss

//- Page CSS
//------------------------------

//- Add custom page specific CSS
block pagecss	
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/themes/'+myThemeName+'/materialize.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/themes/'+myThemeName+'/style.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
block vendorjs

//- Page JS
//------------------------------
//- Add custom page specific JS
block pagejs
