footer.page-footer(class="footer " + footerType +' ' + footerColor, class=(footerBorder == true ? 'navbar-border' : ''), class=(footerShadow == true ? 'navbar-shadow' : ''))
  .footer-copyright
    .container
      span
        | &copy; #{new Date().getFullYear()}          
        a(href='http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent', target='_blank') PIXINVENT
        |  All rights reserved.
      span.right.hide-on-small-only
        | Design and Developed by 
        a(href='https://pixinvent.com/') PIXINVENT