- var sk_path = "../../../starter-kit/"+ useDirection +"/"+ useLayout +"/"
- var query_string = "?lng=en"
// BEGIN: SideNav
//- main menu
aside.sidenav-main.nav-expanded.nav-lock.nav-collapsible(class= menuColor)
  //- main menu header
  //- include includes/menu-header
  //- / main menu header
  .brand-sidebar
    h1.logo-wrapper
      a.brand-logo.darken-1(href='index.html')
        if (logoType === 'dark')
          img(src='../../../app-assets/images/logo/materialize-logo-color.png', alt='materialize logo',class="hide-on-med-and-down")
          img(src='../../../app-assets/images/logo/materialize-logo.png', alt='materialize logo', class="show-on-medium-and-down hide-on-med-and-up")
        else
          if(dataMenu !=='vertical-menu-nav-dark')
            img(src='../../../app-assets/images/logo/materialize-logo.png', alt='materialize logo',class="hide-on-med-and-down ")
            img(src='../../../app-assets/images/logo/materialize-logo-color.png', alt='materialize logo', class="show-on-medium-and-down hide-on-med-and-up")
          else
            img(src='../../../app-assets/images/logo/materialize-logo.png', alt='materialize logo')
        span.logo-text.hide-on-med-and-down Materialize
      a.navbar-toggler(href='#')
        i.material-icons radio_button_checked
  //- main menu content  
  +verticalMenu([
    
    {url:"JavaScript:void(0)",name:"Dashboard", i18n:"Dashboard", class:"collapsible-header waves-effect waves-cyan",slug:"dashboard",icon:"settings_input_svideo",tag:"3" , tagcustom: "badge pill orange float-right mr-10",
      submenu:[
        {url:"dashboard-modern.html", name:"Modern", i18n:"Modern", slug:"dashboard-modern"},
        {url:"dashboard-ecommerce.html", name:"eCommerce", i18n:"eCommerce", slug:"dashboard-ecommerce"},
        {url:"dashboard-analytics.html", name:"Analytics", i18n:"Analytics", slug:"dashboard-analytics"},
      ]
    },
    {url:"JavaScript:void(0)",name:"Templates", i18n:"Templates", class:"collapsible-header waves-effect waves-cyan",slug:"templates",icon:"dvr",
      submenu:[

         {url:"JavaScript:void(0)", class:"collapsible-header waves-effect waves-cyan" ,name:"Vertical", i18n:"Vertical", slug:"",
          submenu:[
            {url:"../vertical-modern-menu-template/", name:"Modern Menu",  i18n:"Modern Menu", slug:"vertical-modern-menu-template"},
            {url:"../vertical-menu-nav-dark-template/", name:"Navbar Dark", i18n:"Navbar Dark", slug:"vertical-menu-nav-dark-template"},
            {url:"../vertical-gradient-menu-template/", name:"Gradient Menu", i18n:"Gradient Menu", slug:"vertical-gradient-menu-template"},
            {url:"../vertical-dark-menu-template/", name:"Dark Menu", i18n:"Dark Menu", slug:"vertical-gradient-menu-template"},
          ]
        },
        {url:"JavaScript:void(0)", class:"collapsible-header waves-effect waves-cyan" ,name:"Horizontal", i18n:"Horizontal", slug:"",
          submenu:[
            {url:"../horizontal-menu-template/", name:"Horizontal Menu", i18n:"Horizontal Menu", slug:"horizontal-classic-menu-template"},
          ]
        },
      ]
    },

    {navheader:"Applications",icon:"remove"},

    {url:"app-email.html" ,name:"Mail", i18n:"Mail", class:"waves-effect waves-cyan" ,icon:"mail_outline",slug:"app-email",tag:"5" , tagcustom: "new badge pill pink accent-2 float-right mr-2"},
    {url:"app-chat.html" ,name:"Chat", i18n:"Chat", class:"waves-effect waves-cyan" ,icon:"chat_bubble_outline",slug:"app-chat"},
    {url:"app-todo.html" ,name:"ToDo", i18n:"ToDo", class:"waves-effect waves-cyan" ,icon:"check",slug:"app-todo"},
    {url:"app-kanban.html" ,name:"Kanban", i18n:"Kanban", class:"waves-effect waves-cyan" ,icon:"format_list_bulleted",slug:"app-kanban"},
    {url:"app-file-manager.html" ,name:"File manager", i18n:"File Manager", class:"waves-effect waves-cyan" ,icon:"content_paste",slug:"app-file-manager"},
    {url:"app-contacts.html" ,name:"Contacts", i18n:"Contacts", class:"waves-effect waves-cyan" ,icon:"import_contacts",slug:"app-contacts"},
    {url:"app-calendar.html" ,name:"Calendar", i18n:"Calendar", class:"waves-effect waves-cyan" ,icon:"today",slug:"app-calendar"},
    {url:"JavaScript:void(0)",name:"Invoice", i18n:"Invoice", class:"collapsible-header waves-effect waves-cyan",slug:"app-invoice",icon:"receipt",
      submenu:[
        {url:"app-invoice-list.html", name:"Invoice List", i18n:"Invoice List", slug:"app-invoice-list"},
        {url:"app-invoice-view.html", name:"Invoice View", i18n:"Invoice View", slug:"app-invoice-view"},
        {url:"app-invoice-edit.html", name:"Invoice Edit", i18n:"Invoice Edit", slug:"app-invoice-edit"},
        {url:"app-invoice-add.html", name:"Invoice Add", i18n:"Invoice Add", slug:"app-invoice-add"},
      ]
    },
     {url:"JavaScript:void(0)",name:"eCommerce", i18n:"eCommerce", class:"collapsible-header waves-effect waves-cyan",slug:"eCommerce",icon:"add_shopping_cart",
      submenu:[
        {url:"eCommerce-products-page.html", name:"Products Page", i18n:"Products Page", slug:"eCommerce-products-page"},
        {url:"eCommerce-pricing.html", name:"Pricing", i18n:"Pricing", slug:"eCommerce-pricing"},
      ]
    },

    {navheader:"Pages ",icon:"remove"},

    {url:"user-profile-page.html", name:"User Profile", i18n:"User Profile", class:"waves-effect waves-cyan" ,icon:"person_outline" ,slug:"user-profile-page"},
    {url:"JavaScript:void(0)",name:"Pages", i18n:"Pages", class:"collapsible-header waves-effect waves-cyan",slug:"pages",icon:"content_paste",
      submenu:[
        {url:"page-contact.html", name:"Contact", i18n:"Contact", slug:"page-contact"},
        {url:"page-blog-list.html", name:"Blog", i18n:"Blog", slug:"page-blog-list"},
        {url:"page-search.html", name:"Search", i18n:"Search", slug:"page-search"},
        {url:"page-knowledge.html", name:"Knowledge", i18n:"Knowledge", slug:"page-knowledge"},
        {url:"page-timeline.html", name:"Timeline", i18n:"Timeline", slug:"page-timeline"},
        {url:"page-faq.html", name:"FAQs", i18n:"FAQs", slug:"page-faq"},
        {url:"page-account-settings.html", name:"Account Settings", i18n:"Account Settings", slug:"page-account-settings"},
        {url:"page-blank.html", name:"Page Blank", i18n:"Page Blank", slug:"page-blank"},
        {url:"page-collapse.html", name:"Page Collapse", i18n:"Page Collapse", slug:"page-collapse"},
      ]
    },
     {url:"JavaScript:void(0)",name:"Medias", i18n:"Medias", class:"collapsible-header waves-effect waves-cyan",slug:"medias",icon:"crop_original",
      submenu:[
        {url:"media-gallery-page.html", name:"Gallery Page", i18n:"Gallery Page", slug:"media-gallery-page"},
        {url:"media-hover-effects.html", name:"Media Hover Effects", i18n:"Media Hover Effects", slug:"media-hover-effects"},
      ]
    },
    {url:"JavaScript:void(0)",name:"User", i18n:"User", class:"collapsible-header waves-effect waves-cyan",slug:"user",icon:"face",tag:"3" , tagcustom: "badge pill purple float-right mr-10",
      submenu:[
        {url:"page-users-list.html", name:"List", i18n:"List", slug:"users-list"},
        {url:"page-users-view.html", name:"View", i18n:"View", slug:"users-view"},
        {url:"page-users-edit.html", name:"Edit", i18n:"Edit", slug:"users-edit"},
      ]
    },
    {url:"JavaScript:void(0)",name:"Authentication", i18n:"Authentication", class:"collapsible-header waves-effect waves-cyan",slug:"authentication",icon:"lock_open",tag:"10" , tagcustom: "badge pill purple float-right mr-10",
      submenu:[
        {url:"user-login.html", name:"Login", i18n:"Login", slug:"user-login", newTab: "_blank"},
        {url:"user-register.html", name:"Register", i18n:"Register", slug:"user-register", newTab: "_blank"},
        {url:"user-forgot-password.html", name:"Forgot Password", i18n:"Forgot Password", slug:"user-forgot-password", newTab: "_blank"},
        {url:"user-lock-screen.html", name:"Lock Screen", i18n:"Lock Screen", slug:"user-lock-screen", newTab: "_blank"},
      ]
    },
    {url:"JavaScript:void(0)",name:"Misc", i18n:"Misc", class:"collapsible-header waves-effect waves-cyan",slug:"misc",icon:"filter_tilt_shift",
      submenu:[
        {url:"page-404.html", name:"404", i18n:"404", slug:"page-404", newTab: "_blank"},
        {url:"page-maintenance.html", name:"Page Maintenanace", i18n:"Page Maintenanace", slug:"page-maintenance", newTab: "_blank"},
        {url:"page-500.html", name:"500", i18n:"500", slug:"page-505", newTab: "_blank"},
      ]
    },

    {navheader:"User Interface ",icon:"remove"},

    {url:"JavaScript:void(0)",name:"Cards", i18n:"Cards", class:"collapsible-header waves-effect waves-cyan",slug:"cards",icon:"cast",
      submenu:[
        {url:"cards-basic.html", name:"Cards",  i18n:"Cards", slug:"cards-basic"},
        {url:"cards-advance.html", name:"Cards Advance", i18n:"Cards Advance", slug:"cards-advance"},
        {url:"cards-extended.html", name:"Cards Extended", i18n:"Cards Extended", slug:"cards-extended"},
      ]
    },
    
    {url:"JavaScript:void(0)",name:"CSS", i18n:"CSS", class:"collapsible-header waves-effect waves-cyan",slug:"css",icon:"invert_colors",
      submenu:[
        {url:"css-typography.html", name:"Typograpy", i18n:"Typograpy", slug:"css-typography"},
        {url:"css-color.html", name:"Color", i18n:"Color", slug:"css-color"},
        {url:"css-grid.html", name:"Grid", i18n:"Grid", slug:"css-grid"},
        {url:"css-helpers.html", name:"Helpers", i18n:"Helpers", slug:"css-helpers"},
        {url:"css-media.html", name:"Media", i18n:"Media", slug:"css-media"},
        {url:"css-pulse.html", name:"Pulse", i18n:"Pulse", slug:"css-pulse"},
        {url:"css-sass.html", name:"Sass", i18n:"Sass", slug:"css-sass"},
        {url:"css-shadow.html", name:"Shadow", i18n:"Shadow", slug:"css-shadow"},
        {url:"css-animations.html", name:"Animations", i18n:"Animations", slug:"css-animations"},
        {url:"css-transitions.html", name:"Transitions", i18n:"Transitions", slug:"css-transitions"},
      ]
    },

    {url:"JavaScript:void(0)",name:"Basic UI", i18n:"Basic UI", class:"collapsible-header waves-effect waves-cyan",slug:"basic-ui",icon:"photo_filter",
      submenu:[
        {url:"JavaScript:void(0)", class:"collapsible-header waves-effect waves-cyan" ,name:"Buttons", i18n:"Buttons", slug:"",
          submenu:[
            {url:"ui-basic-buttons.html",name:"Basic", i18n:"Basic", slug:"ui-basic-buttons"},
            {url:"ui-extended-buttons.html",name:"Extended", i18n:"Extended", slug:"ui-extended-buttons"},
          ]
        },
        {url:"ui-icons.html", name:"Icons",  i18n:"Icons",  slug:"ui-icons"},
        {url:"ui-alerts.html", name:"Alerts", i18n:"Alerts", slug:"ui-alerts"},
        {url:"ui-badges.html", name:"Badges", i18n:"Badges", slug:"ui-badges"},
        {url:"ui-breadcrumbs.html", name:"Breadcrumbs", i18n:"Breadcrumbs", slug:"ui-breadcrumbs"},
        {url:"ui-chips.html", name:"Chips", i18n:"Chips", slug:"ui-chips"},
        {url:"ui-collections.html", name:"Collections", i18n:"Collections", slug:"ui-collections"},
        {url:"ui-navbar.html", name:"Navbar", i18n:"Navbar", slug:"ui-navbar"},
        {url:"ui-pagination.html", name:"Pagination", i18n:"Pagination", slug:"ui-pagination"},
        {url:"ui-preloader.html", name:"Preloader", i18n:"Preloader", slug:"ui-preloader"},
      ]
    },
    {url:"JavaScript:void(0)",name:"Advanced UI", i18n:"Advanced UI", class:"collapsible-header waves-effect waves-cyan",slug:"advance-ui",icon:"settings_brightness",
      submenu:[
        {url:"advance-ui-carousel.html", name:"Carousel", i18n:"Carousel", slug:"advance-ui-carousel"},
        {url:"advance-ui-collapsibles.html", name:"Collapsibles", i18n:"Collapsibles", slug:"advance-ui-collapsibles"},
        {url:"advance-ui-toasts.html", name:"Toasts", i18n:"Toasts", slug:"advance-ui-toasts"},
        {url:"advance-ui-tooltip.html", name:"Tooltip", i18n:"Tooltip", slug:"advance-ui-tooltip"},
        {url:"advance-ui-dropdown.html", name:"Dropdown", i18n:"Dropdown", slug:"advance-ui-dropdown"},
        {url:"advance-ui-feature-discovery.html", name:"Discovery", i18n:"Discovery", slug:"advance-ui-feature-discovery"},
        {url:"advance-ui-media.html", name:"Media", i18n:"Media", slug:"advance-ui-media"},
        {url:"advance-ui-modals.html", name:"Modals", i18n:"Modals", slug:"advance-ui-modals"},
        {url:"advance-ui-scrollspy.html", name:"Scrollspy", i18n:"Scrollspy", slug:"advance-ui-scrollspy"},
        {url:"advance-ui-tabs.html", name:"Tabs", i18n:"Tabs", slug:"advance-ui-tabs"},
        {url:"advance-ui-waves.html", name:"Waves", i18n:"Waves", slug:"advance-ui-waves"},
      ]
    },
    {url:"JavaScript:void(0)",name:"Extra Components", i18n:"Extra Components", class:"collapsible-header waves-effect waves-cyan",slug:"extra-components",icon:"add_to_queue",
      submenu:[
        {url:"extra-components-range-slider.html", name:"Range Slider", i18n:"Range Slider", slug:"extra-components-range-slider"},
        {url:"extra-components-sweetalert.html", name:"Sweetalert", i18n:"Sweetalert", slug:"extra-components-sweetalert"},
        {url:"extra-components-nestable.html", name:"Nestable", i18n:"Nestable", slug:"extra-components-nestable"},
        {url:"extra-components-treeview.html", name:"Treeview", i18n:"Treeview", slug:"extra-components-treeview"},
        {url:"extra-components-ratings.html", name:"Ratings", i18n:"Ratings", slug:"extra-components-ratings"},
        {url:"extra-components-tour.html", name:"Tour", i18n:"Tour", slug:"extra-components-tour"},
        {url:"extra-components-i18n.html", name:"i18n", i18n:"i18n", slug:"extra-components-i18n"},
        {url:"extra-components-highlight.html", name:"Highlight", i18n:"Highlight", slug:"extra-components-highlight"},
      ]
    },
    
    {navheader:"Tables & Forms ",icon:"remove"},

    {url:"table-basic.html",name:"Basic Tables", i18n:"Basic Tables", class:"waves-effect waves-cyan",icon:"border_all",slug:"table-basic"},
    {url:"table-data-table.html",name:"Data Tables", i18n:"Data Tables", class:"waves-effect waves-cyan",icon:"grid_on",slug:"table-data-table"},
    {url:"JavaScript:void(0)",name:"Forms", i18n:"Forms", class:"collapsible-header waves-effect waves-cyan",slug:"form",icon:"chrome_reader_mode",
      submenu:[
        {url:"form-elements.html", name:"Form Elements", i18n:"Form Elements", slug:"form-elements"},
        {url:"form-select2.html", name:"Form Select2", i18n:"Form Select2", slug:"form-select2"},
        {url:"form-validation.html", name:"Form Validation", i18n:"Form Validation", slug:"form-validation"},
        {url:"form-masks.html", name:"Form Masks", i18n:"Form Masks", slug:"form-masks"},
        {url:"form-editor.html", name:"Form Editor", i18n:"Form Editor", slug:"form-editor"},
        {url:"form-file-uploads.html", name:"File Uploads", i18n:"File Uploads", slug:"form-file-uploads"},
      ]
    },

    {url:"form-layouts.html",name:"Form Layouts", i18n:"Form Layouts", class:"waves-effect waves-cyan",icon:"image_aspect_ratio",slug:"form-layouts"},   
    {url:"form-wizard.html",name:"Form Wizard", i18n:"Form Wizard", class:"waves-effect waves-cyan",icon:"settings_ethernet",slug:"form-wizard"},

    {navheader:"Charts",icon:"remove"},

    {url:"JavaScript:void(0)",name:"Chart", i18n:"Chart", class:"collapsible-header waves-effect waves-cyan",slug:"chart",icon:"pie_chart_outlined",
      submenu:[
        {url:"charts-chartjs.html", name:"ChartJS", i18n:"ChartJS", slug:"charts-chartjs"},
        {url:"charts-chartist.html", name:"Chartist", i18n:"Chartist", slug:"charts-chartist"},
        {url:"charts-sparklines.html", name:"Sparkline Charts", i18n:"Sparkline Charts", slug:"charts-sparklines"},
      ]
    },     
    
    {navheader:"Misc ",icon:"remove"},
    
    {url:"JavaScript:void(0)",name:"Menu levels", i18n:"Menu levels", class:"collapsible-header waves-effect waves-cyan",icon:"photo_filter",slug:"",          
        submenu:[
          {url:"JavaScript:void(0)",name:"Second level", i18n:"Second level", slug:""},
          {url:"JavaScript:void(0)", class:"collapsible-header waves-effect waves-cyan" ,name:"Second level child", i18n:"Second level child", slug:"",
            submenu:[
              {url:"JavaScript:void(0)",name:"Third level", i18n:"Third level", slug:""}                
            ]
          },
        ]
      },
    {url:"https://pixinvent.com/materialize-material-design-admin-template/documentation/index.html" ,name:"Documentation", i18n:"Documentation", class:"waves-effect waves-cyan" ,icon:"import_contacts",slug:"documentation", newTab: "_blank"},
    {url:"https://pixinvent.ticksy.com/" ,name:"Support", i18n:"Support", class:"waves-effect waves-cyan" ,icon:"help_outline",slug:"support", newTab: "_blank"},
  ])
  div(class="navigation-background")
  a.sidenav-trigger.btn-sidenav-toggle.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only(href='#', data-target='slide-out')
    i.material-icons menu

  //- /main menu content

  //- main menu footer
  //- include includes/menu-footer
  //- main menu footer
//- / main menu
// END: SideNav